.price {
    color: blue;
}
.header {
    font-family: Helvetica;
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    text-align: center;
    background-image: url(/Users/mmagliocca/Desktop/Dasmoto\ Arts/resources/images/pattern.jpeg)
}
.sectionhead{
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
    color: white;
}
#brushes {
    background-color: mediumspringgreen;
}
#frames {
    background-color: lightcoral;
}
#paint {
    background-color: skyblue;
}